@model ForgotPasswordViewModel

@{
    Layout = "_LayoutBlank";
    ViewBag.Title = "Password Forgot";
}

<div class="page-content-wrapper py-3">
    <div class="container">
        <div class="card">
            <div class="card-body px-5 text-center">

                <img class="mb-4" src="~/img/forgetPwd.png" asp-append-version="true" alt="Password forgot">

                <h3>Reset Password</h3>

                <div asp-validation-summary="All">
                    <div class="alert custom-alert-1 alert-warning alert-dismissible fade show msgtitle" role="alert">
                        <i class="bi bi-exclamation-circle"></i>Please Fix the Following Errors
                    </div>
                </div>

                @{ if (!string.IsNullOrEmpty(Convert.ToString(ViewBag.Message)))
                    {
                        <div class="alert custom-alert-1 alert-info alert-dismissible fade show">
                            <i class="bi bi-info-circle"></i>@ViewBag.Message
                        </div>
                    }}

                <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                    <div class="form-group text-start mb-3 mt-3">
                        <input asp-for="Email" placeholder="Email Address" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary w-100" id="btnResetPwd" value="resetPwd" type="submit"><span>Reset Password</span></button>
                </form>

                    <p class="mt-3 mb-0">Don't have an Account? <a class="stretched-link" asp-action="Register" asp-controller="Account">Register</a></p>
                    <p class="mt-3 mb-0">Have an Account? <a class="stretched-link" asp-action="Login" asp-controller="Account">Login</a></p>

                <div class="text-center mb-4 mt-4">
                    <a class="btn m-2 btn-creative btn-success" asp-action="Index" asp-controller="User">Go To Home Page</a>
                    @*<a href="javascript:history.back()" class="btn m-2 btn-creative btn-danger">Go Back</a>*@
                </div>

            </div>
        </div>
    </div>
</div>