@model ResetPasswordViewModel

@{
    Layout = "_LayoutBlank";
    ViewBag.Title = "Reset Password";
}

<div class="page-content-wrapper py-3">
    <div class="container">
        <div class="card">
            <div class="card-body px-5 text-center">

                <img class="mb-4" src="~/img/logo.png" asp-append-version="true" alt="Password forgot">

                <h3>Set New Password</h3>

                <div asp-validation-summary="All">
                    <div class="alert custom-alert-1 alert-warning alert-dismissible fade show msgtitle" role="alert">
                        <i class="bi bi-exclamation-circle"></i>Please Fix the Following Errors
                    </div>
                </div>

                <form asp-action="ResetPassword" asp-controller="Account" method="post">
                    <input asp-for="Token" type="hidden" />
                    <input asp-for="Email" type="hidden" />
                    <div class="form-group text-start mb-3 mt-3">
                        <input asp-for="Password" placeholder="New password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group text-start mb-3">
                        <input asp-for="ConfirmPassword" placeholder="Re-enter Password" class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary w-100" id="btnSetPwd" value="setPwd" type="submit"><span>Set Password</span></button>
                </form>

                <p class="mt-3 mb-0">Don't have an Account? <a class="stretched-link" asp-action="Register" asp-controller="Account">Register</a></p>
                <p class="mt-3 mb-0">Have an Account? <a class="stretched-link" asp-action="Login" asp-controller="Account">Login</a></p>

                <div class="text-center mb-4 mt-4">
                    <a class="btn m-2 btn-creative btn-success" asp-action="Index" asp-controller="User">Go To Home Page</a>
                    @*<a href="javascript:history.back()" class="btn m-2 btn-creative btn-danger">Go Back</a>*@
                </div>

            </div>
        </div>
    </div>
</div>