@{
    Layout = "_LayoutBlank";
    ViewBag.Title = "Privacy Policy";
}
<div class="page-content-wrapper py-3">
    <div class="container">
        <partial name="_PrivacyPolicyPartial" />
    </div>
</div>
<div class="text-center mb-4">
    <a class="btn m-2 btn-creative btn-success" asp-action="Index" asp-controller="User">Go To Home Page</a>
    <a href="javascript:history.back()" class="btn m-2 btn-creative btn-danger">Go Back</a>
</div>
